

@media screen and (max-width: 40.5em) {
    .Swipe{
       
    }
    .slide{
        overflow: hidden;
        position: relative;
        width: 100vw;
    }

    img{
        border-radius: 5px;
    }
    .swiperImage > img{
        width: 100%;
    }
    
    .swiperImage{
       width: 95%;
       margin-left: auto;
       margin-right: auto;
        
    }
    .player{
        z-index: 1;
        position: absolute;
        left:40%;
        bottom: 0px;
    }
    .title{
        z-index: 1;
        font-size: 1.5em;
        position: absolute;
        left: 25%;
        bottom: 1.5rem;
    }
    .subtitle{
        z-index: 1;
        font-size: 1em;
        position: absolute;
        right: 1rem;
        bottom: .5rem;
    }
    .text{
        z-index: 1;
        font-size: 1em;
        position: absolute; 
        left: 1rem;
        bottom:.5rem;
    }
    .phraseOne{
        z-index: 1;
        font-size: 1em;
        position: absolute;
        top:60px;
    }
    .phraseTwo{
        z-index: 1;
        font-size: 1em;
        position: absolute;
        top:80px;
    }
}