body{
  background-color: #1C2633;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.blue{
  color: #698EBF;
}

.responsive{
  width: 100%;
  max-width: 100px;
  height: auto;
  max-height: 60px;
}