@media screen and (max-width: 40.5em) {
    .Header{
        margin: 0;
        padding: 0;
        border: 0;
        width: 100vw;
        height: 10vh;
        display: block;
        
    }
    .Header > h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        font-weight: 200;

    }
    ul{
        list-style-type: none;
    }
    li{
        display: inline;
    }
    ul > .left{
        position: absolute;
        left:10px;
        top:-10px;
    }
    .right{
        position: absolute;
        
    }
    .responsive{
        width: 100%;
        max-width: 100px;
        height: auto;
        max-height: 60px;
    }
    }