@media  screen and (max-width: 40.5em) {
    .backButton{
        position: absolute;
        margin: 0px;
        padding: 0px;
        font-size: 130px;
        top:-.3em;
    }
    .Profile{
        width: 100vw;
        height: 400px;
        order:1;
    }
    .Profile > h1{
       position: relative;
       text-align: center;
       bottom: -75%;
    }
    .Profile > h2{
        position: relative;
        text-align: center;
        bottom: -70%;
     }
}